<div class="card-container">
  <div class="card">
    <div class="front">
      <div class="cover">
        <img src="../images/team_members/Dave_Chmura.jpg"/>
      </div>
      <div class="user">
        <img class="img-circle" src="images/team_members/missing_image.jpg"/>
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">Dave Perhne</h3>
          <p class="profession">Title</p>
          <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Ann Arbor, Mi</h5>
          <h5><i class="fa fa-building-o fa-fw text-muted"></i> University of Michigan - LSA Management Information Systems. </h5>
          <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> email_address</h5>
        </div>
          <div class="footer">
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
      </div>
  </div> <!-- end front panel -->
  <div class="back">
    <div class="header">
      <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
    </div> 
    <div class="content">
      <div class="main">
        <h4 class="text-center">Experience</h4>
        <p>Experience</p>
        <h4 class="text-center">Areas of Expertise</h4>
        <p>List, of, things, and many others...</p>
      </div>
    </div>
      <div class="footer">
        <div class="social-links text-center">
            <a href="https://www.lsa.umich.edu/facstaff/mis" class="home" target="_blank"><i class="fa fa-home fa-fw"></i></a>
            <a href="http://github.com/#" class="github" target="_blank"><i class="fa fa-github fa-fw"></i></a>
            <a href="http://bitbucket.com/#" class="bitbucket" target="_blank"><i class="fa fa-bitbucket fa-fw"></i></a>
            <a href="http://twitter.com/#" class="twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
        </div>
      </div>
    </div> <!-- end back panel -->
  </div> <!-- end card -->
</div> <!-- end card-container -->
            
